.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 160px;
  background: #ddd;
  padding: 60px 0 10px 0;
}

ul.sidebarLinks {
  list-style: none;
  padding-left: 0;
}

ul.sidebarLinks li {
  font-size: var(--fontSize, 14px);
  border-bottom: 1px solid var(--bgColorAlt, #6d6d6d);
  padding: 4px 10px;
}

ul.sidebarLinks li a {
  font-size: 14px;
}