.container {
  max-width: 800px;
  margin: 10px;
  font-family: sans-serif;
}

.mainContainer {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  /* space between panes */
}

.selectedBookWrapper {
  flex: 1 0 280px;
  max-width: 60%;
}

.searchWrapper {
  flex: 1;
  /* takes remaining space */
}